{% extends "v_layout.html.twig" %}
{% block contenu %}
    <div class ="grid">
        <div class="grid-noGutter" data-push-left="off-2">
            <div class="col-4">
                <form method="post" action="{{ path("fromage.validFormEditFromage") }} ">
                    <div class="card" style ="color:whitesmoke; padding: 20px; border-radius: 50px; ">
                        <h1>Modification du fromage: {{ donnees.libelle_fromage }}</h1>
                        <input type="hidden" name="_method" id="_method" value="put"/>
                        <input type="hidden" name="id_fromage" value="{{ donnees.id_fromage }}"/>
                        <label>Nom du fromage
                            <input class="inputLoginBlock" name="libelle_fromage"  type="text"  size="18" value="{{ donnees.libelle_fromage | default('') }}"/>
                            {% if erreurs.libelle_fromage is defined %}
                                <small class="error">{{erreurs.libelle_fromage}}</small>
                            {% endif %}
                        </label>
                        <input type="submit" class = "button" name="modifierFromage" value="modifier" >
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}