{% extends "v_layout.html.twig" %}
{% block contenu %}
    <form method="post" action="{{path('plats.validFormDelete')}}">
        <div class="row">
            <fieldset>
                    <input type="hidden" name="_method" id="_method" value="delete"/>
                <legend>Voulez-vous suprimer ce produit ? (twig)</legend>
                <h3 id="blue">{{ donnees.nom }}</h3>
                {%  for libelle in libelle %}
                    <h4>Le {{ libelle.libelle_menu }} sera également supprimer</h4>
                {% endfor %}
                <input name="id"  type="hidden" value="{{donnees.id_plat}}" />
                <input type="hidden"   name="_csrf_token"   value="{{ csrf_token('token_delete_plat') }}">
                <input type="submit" name="suprimerProduit" value="Suprimer" />
            </fieldset>
        </div>
    </form>
{% endblock %}