{% extends "v_layout.html.twig" %}
{% block contenu %}
  <div class="row">
    {% if app.session.get('roles') is defined and app.session.get('roles') == 'ROLE_ADMIN' %}
      <a href="{{ path('plats.add') }}"> Ajouter un plat </a>
    {% endif %}
  <table>
    <caption>Recapitulatifs des plats</caption>
    <thead>
    <tbody>
    <tr><th>nom</th><th>idPlat</th><th>type</th><th>prix</th><th>durée préparation</th><th>date création</th><th>description</th>
        {% if app.session.get('roles') is defined and app.session.get('roles') == 'ROLE_ADMIN' %}
          <th>operation</th>
        {% endif %}
    </tr>
    </thead>
      {% for plats in data if data is not empty %}
        <tr>
          <td>{{plats.nom}}</td><td>{{plats.id_plat}}</td><td>{{ plats.libelle }}</td><td>{{plats.prixPlat|number_format(2, ',', '')}} €</td><td>
                {{plats.dureePreparation}}</td><td>{{ changeDate(plats.dateCreation) }}</td><td>{{ plats.description }}</td>
            {% if app.session.get('roles') is defined and app.session.get('roles') == 'ROLE_ADMIN' %}
              <td>
                <a href="{{ path('plats.edit', {id: plats.id_plat}) }}">modifier</a>
                -
                <a href="{{ path('plats.delete', {id: plats.id_plat}) }}">supprimer</a>
              </td>
            {% endif %}
        </tr>
      {% endfor %}
    <tbody>
  </table>
{% endblock %}