{% extends "v_layout.html.twig" %}
{% block contenu %}
    <form method="post" action="{{ path('reservation.validFormReserv') }}">
        <div class="row">
            <fieldset>
                <legend>Reserver</legend>
                <label>Combien de places ? :
                    <select name="nbDispo">
                        {% for i in 1..menu.nbDispo %}
                            <option value="{{ i }}"
                                    {% if donnees.nbDispo is defined and menu.nbDispo == donnees.nbDispo    %}selected{% endif %}>
                                {{ i }}
                            </option>
                        {% endfor %}
                    </select>
                    {% if erreurs.type is defined %}
                        <small class="error">{{erreurs.type}}</small>
                    {% endif %}
                </label>
                <label>Email :
                    <input name="email"  type="text"  size="18" value="{{donnees.email|default("")}}" />
                    {% if erreurs.email is defined %}
                        <small class="error">{{erreurs.email}}</small>
                    {% endif %}
                </label>
                <input type="hidden" name="id_menu" value="{{ menu.id_menu }}">
                <input type="submit" name="reserver" value="Reserver" />
            </fieldset>
        </div>
    </form>
{% endblock %}