{% extends "v_layout.html.twig" %}
{% block contenu %}
    <div id="accordion">
        {% for menu in data if data is not empty %}

                <h3>{{menu.libelle_menu}} {{menu.nbDispo}} {{ menu.prix|number_format(2, ',', '')}}€ {{ changeDate(menu.date_menu) }}</h3>

                    <div>

                         Type: {{menu.libelle_type}}


                         Apéritif: {{menu.libelle_aperitif}}
                         Entrée {{menu.libelle_entree}}
                         Plat principal {{menu.libelle_plat}}
                        Fromage: {{menu.libelle_fromage}}

                         Dessert: {{menu.libelle_dessert}}
                        Boisson: {{menu.type_boisson}}

                         Supplément: {{menu.type_supplement}}
                    </div>

        {% endfor %}
    </div>

{% endblock %}
