{% extends "v_layout.html.twig" %}
{% block contenu %}
<!doctype html>
<head>
    <meta charset = "utf-8" />
    <meta http-equiv = "x-ua-compatible" content = "ie = edge" />
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0" />

    <title>Accordion</title>

    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/css/foundation.css">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/foundation.min.js"></script>
</head>

<div class="row">
      <h2>Accordion Example</h2>
      <ul class = "accordion" data-accordion role = "tablist">
          <li class = "accordion-item is-active">
              <a href = "#collapse1" role = "tab" class = "accordion-title" id = "collapse1-heading">Foundation</a>
              <div id = "collapse1" class = "accordion-content" role = "tabpanel" data-tab-content aria-labelledby = "panel1d-heading">
                  The most advanced responsive front-end framework.
              </div>
          </li>

          <li class = "accordion-item">
              <a href = "#collapse2" role = "tab" class = "accordion-title" id = "collapse2-heading">Bootstrap</a>
              <div id = "collapse2" class = "accordion-content" role = "tabpanel" data-tab-content aria-labelledby = "panel1d-heading">
                  Bootstrap is the most popular and powerful front-end framework.
              </div>
          </li>

          <li class = "accordion-item">
              <a href = "#collapse3" role = "tab" class = "accordion-title" id = "collapse3-heading">HTML</a>
              <div id = "collapse3" class = "accordion-content" role = "tabpanel" data-tab-content aria-labelledby = "panel1d-heading">
                  HTML is a markup language for describing web documents.
              </div>
          </li>
      </ul>


   {# {% for menu in data if data is not empty %}
      <table class="accordion" data-accordion>
          <tbody>
                <tr>
                    <th>{{menu.libelle_menu}} {{menu.nbDispo}} {{ menu.prix|number_format(2, ',', '')}}€ {{ changeDate(menu.date_menu) }}</th>
                </tr>

                <tr>
                    <td>Type: {{menu.libelle_type}}</td>
                </tr>
                <tr>
                    <td>Apéritif: {{menu.libelle_aperitif}}</td>
                </tr>
                <tr>
                    <td>Entrée {{menu.libelle_entree}}</td>
                </tr>
                <tr>
                    <td>Plat principal {{menu.libelle_plat}}</td>
                </tr>
                <tr>
                    <td>Fromage: {{menu.libelle_fromage}}</td>
                </tr>
                <tr>
                    <td>Dessert: {{menu.libelle_dessert}}</td>
                </tr>
                <tr>
                    <td>Boisson: {{menu.type_boisson}}</td>
                </tr>
                <tr>
                    <td>Supplément: {{menu.type_supplement}}</td>
                </tr>
          </tbody>
      </table>
  </div>#}
<script>
    $(document).ready(function() {
        $(document).foundation();
    })
</script>
</div>
{% endblock %}
