{% extends "v_layout.html.twig" %}
{% block contenu %}
<body>
{% include "script.html.twig" %}
<div class ="grid">
    <div class="grid-noGutter" data-push-left="off-4">
        <div class="col-6">
            <form method="post" action="{{ path("menu.getIds") }} ">
                <div class="login-block" style="width: 500px">
                    <h1>Créer un menu</h1>
                    <label >Nom menu :
                        <input class="inputLoginBlock" name="libelle_menu"  type="text"  size="18" value="{{donnees.libelle_menu|default("")}}" />
                        {% if erreurs.libelle_menu is defined %}
                            <small class="error">{{erreurs.libelle_menu}}</small>
                        {% endif %}
                    </label>
                    <label>Places disponibles :
                        <input class="inputLoginBlock" name="nbDispo"  type="text"  size="18" value="{{donnees.nbDispo|default("")}}" />
                        {% if erreurs.nbDispo is defined %}
                            <small class="error">{{erreurs.nbDispo}}</small>
                        {% endif %}
                    </label>

                    <label >Prix :
                        <input class="inputLoginBlock" name="prix"  type="text"  size="18"  value="{{donnees.prix|default("")}}"/>
                                {% if erreurs.prix is defined %}
                                    <small class="error">{{erreurs.prix}}</small>
                                {% endif %}
                            </label>

                            <label >Date menu :
                                <input class="inputLoginBlock" type="text" name="date_menu" size="18" value="{{ changeDate(donnees.date_menu|default(""))}}">
                                {% if erreurs.date_menu is defined %}
                                    <small class="error">{{erreurs.date_menu}}</small>
                                {% endif %}
                            </label>

                            <label>Type : <br/>
                                <select name="id_type">
                                    {% if type.id_type is not defined or donnees.id_type is empty   %}
                                        <option value="">Veuillez sélectionner un type</option>
                                    {% endif %}
                                    {% for type in type %}
                                        <option value="{{ type.id_type }}"
                                                {% if donnees.id_type is defined and type.id_type == donnees.id_type    %}selected{% endif %}>
                                            {{ type.libelle_type }}
                                        </option>
                                    {% endfor %}
                                </select>
                                {% if erreurs.type is defined %}
                                    <small class="error">{{erreurs.type}}</small>
                                {% endif %}
                            </label>
                <br/>
                    <br/>
                            <label for="aperitif">Aperitif :
                                <input class="inputLoginBlock" type="text" id="aperitif" name="aperitif" value="{{donnees.libelle_aperitif|default("")}}" >
                                {% if erreurs.aperitif is defined %}
                                    <small class="error">{{erreurs.aperitif}}</small>
                                {% endif %}
                                <p  id="sansAperitif"></p>

                            </label>

                            <label for="entree" >Entree :
                                <input class="inputLoginBlock" type="text" id="entree" name="entree" value="{{donnees.libelle_entree|default("")}}">
                                {% if erreurs.entree is defined %}
                                    <small class="error">{{erreurs.entree}}</small>
                                {% endif %}
                                <p   id="sansEntree"></p>
                            </label>

                            <label for="plat" >Plat :
                                <input class="inputLoginBlock" type="text" id="plat" name="plat" value="{{donnees.libelle_plat|default("")}}">
                                {% if erreurs.plat is defined %}
                                    <small class="error">{{erreurs.plat}}</small>
                                {% endif %}
                                <p   id="sansPlat"></p>
                            </label>

                            <label for="fromage" >Fromage :
                                <input class="inputLoginBlock" type="text" id="fromage" name="fromage" value="{{donnees.libelle_fromage|default("")}}">
                                {% if erreurs.fromage is defined %}
                                    <small class="error">{{erreurs.fromage}}</small>
                                {% endif %}
                                <p  id="sansFromage"></p>
                            </label>

                            <label for="dessert" >Dessert :
                                <input class="inputLoginBlock" type="text" id="dessert" name="dessert" value="{{donnees.libelle_dessert|default("")}}">
                                {% if erreurs.dessert is defined %}
                                    <small class="error">{{erreurs.dessert}}</small>
                                {% endif %}
                                <p  id="sansDessert"></p>
                            </label>

                            <label for="boisson" >Boisson :
                                <input class="inputLoginBlock" type="text" id="boisson" name="boisson" value="{{donnees.libelle_boisson|default("")}}">
                                {% if erreurs.boisson is defined %}
                                    <small class="error">{{erreurs.boisson}}</small>
                                {% endif %}
                                <p  id="sansBoisson"></p>
                            </label>

                            <label for="supplement" >Supplement :
                                <input class="inputLoginBlock" type="text" id="supplement" name="supplement" value="{{donnees.libelle_supplement|default("")}}">
                                {% if erreurs.supplement is defined %}
                                    <small class="error">{{erreurs.supplement}}</small>
                                {% endif %}
                                <p  id="sansSupplement"></p>
                            </label>
                    <input type="submit" class = " button" name="creerPlat" value="Créer" />
                </div>
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}
