{% extends "v_layout.html.twig" %}
{% block contenu %}
    <div class="grid-y" style="height: 50px;">
    </div>
    <form method="post" action="{{ path("dessert.validFormEditDessert") }} ">
        <div class=" grid-y" style="height: 500px; " >
            <div class="cell small-6 medium-4 large-10">
                <div class="grid-x" >
                    <div class="small-4 large-offset-3 cell" >
                        <div class="card" style ="color:whitesmoke; padding: 20px; border-radius: 50px; ">
                            <fieldset>
                                <legend style =" color:whitesmoke;">Modification du dessert: {{ donnees.libelle_dessert }}</legend>
                                <input type="hidden" name="_method" id="_method" value="put"/>
                                <input type="hidden" name="id_dessert" value="{{ donnees.id_dessert }}"/>
                                <label style =" color:whitesmoke;">Nom du dessert
                                    <input name="libelle_dessert"  type="text"  size="18" value="{{ donnees.libelle_dessert | default('') }}"/>
                                    {% if erreurs.libelle_dessert is defined %}
                                        <small class="error">{{erreurs.libelle_dessert}}</small>
                                    {% endif %}
                                </label>
                                <input type="submit" class = "boutonPerso button" name="modifierDessert" value="modifier" >
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}