{% extends "v_layout.html.twig" %}
{% block contenu %}
    <div class ="grid">
        <div class="grid-noGutter" data-push-left="off-2">
             <div class="col-4">
                <form method="post" action="{{ path("dessert.validFormEditDessert") }} ">
                    <div class="login-block">
                        <h1>Modification du dessert: {{ donnees.libelle_dessert }}</h1>
                        <input type="hidden" name="_method" id="_method" value="put"/>
                        <input type="hidden" name="id_dessert" value="{{ donnees.id_dessert }}"/>
                        <label style =" color:whitesmoke;">Nom du dessert</label>
                        <input  class="inputLoginBlock" name="libelle_dessert"  type="text"  size="18" value="{{ donnees.libelle_dessert | default('') }}"/>
                        {% if erreurs.libelle_dessert is defined %}
                            <small class="error">{{erreurs.libelle_dessert}}</small>
                        {% endif %}
                        <input type="submit" class = "boutonPerso button" name="modifierDessert" value="modifier" >
                    </div>
                </form>
             </div>
        </div>
    </div>
{% endblock %}