{% extends "v_layout.html.twig" %}
{% block contenu %}
    <div class ="grid">
        <div class="grid-noGutter" data-push-left="off-2">
            <div class="col-4">
                <form method="post" action="{{ path("supplement.validFormEditSupplement") }} ">
                    <div class="login-block">
                        <h1> Modification du supplement: {{ donnees.type_supplement }}</h1>
                        <input type="hidden" name="_method" id="_method" value="put"/>
                        <input type="hidden" name="id_supplement" value="{{ donnees.id_supplement }}"/>
                        <label >Nom du supplement
                            <input class="inputLoginBlock" name="type_supplement"  type="text"  size="18" value="{{ donnees.type_supplement | default('') }}"/>
                            {% if erreurs.type_supplement is defined %}
                                <small class="error">{{erreurs.type_supplement}}</small>
                            {% endif %}
                        </label>
                        <input type="submit"  class = "boutonPerso button" name="modifierSupplement" value="modifier" >
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}