<script>

    //AutoComplete Plat
    var tabPlat = [];
    $(document).ready(function(){

        /* Appelle le php qui contient le tableau php encodée en json */

        $.getJSON('{{ path('plat.autoComplete') }}', function(data) {
            /* [XMLmind] contiendra le tableau php en tant qu’objet javascript */

            $.each(data, function(key, val) {

                tabPlat[key] = val;
                console.log(tabPlat[key])

            });

        });
        $( "#plat" ).autocomplete({
            source: tabPlat,
            response: function(event, ui) {
                if (ui.content.length === 0) {
                    $("#sansPlat").html('<a style="color: whitesmoke " name="plat" href=" {{ path('plats.add') }}" ">ajouter plat</a>');
                } else {
                    $("#sansPlat").empty();
                }
            }
        });
    });


    {#function nomFonctionJS(){

        var inputValeur = $("#plat").val();

        if(inputValeur != ""){     // tester aussi si le champ contient des caractères spéciaux et si oui faire quelque chose pour ça

            window.location = "http://localhost/projet/Projet-Tuteure/web/app_dev.php/plat/addPlatNom/?nom = " + inputValeur;
        }
    }#}


    //AutoComplete Aperitif
    var tabAperitif = [];
    $(document).ready(function(){

        /* Appelle le php qui contient le tableau php encodée en json */

        $.getJSON('{{ path('aperitif.autoComplete') }}', function(data) {
            /* [XMLmind] contiendra le tableau php en tant qu’objet javascript */

            $.each(data, function(key, val) {

                tabAperitif[key] = val;
                console.log(tabAperitif[key])

            });

        });
        $( "#aperitif" ).autocomplete({
            source: tabAperitif,
            response: function(event, ui) {
                if (ui.content.length === 0) {
                    $("#sansAperitif").html('<a style="color: whitesmoke " name="aperitif" href=" {{ path('aperitif.add',{aperitif: 1}) }}" ">ajouter aperitif</a>');
                } else {
                    $("#sansAperitif").empty();
                }
            }
        });
    });

    //AutoComplete Entree
    var tabEntree = [];
    $(document).ready(function(){

        /* Appelle le php qui contient le tableau php encodée en json */

        $.getJSON('{{ path('entree.autoComplete') }}', function(data) {
            /* [XMLmind] contiendra le tableau php en tant qu’objet javascript */

            $.each(data, function(key, val) {

                tabEntree[key] = val;
                console.log(tabEntree[key])

            });

        });
        $( "#entree" ).autocomplete({
            source: tabEntree,
            response: function(event, ui) {
                if (ui.content.length === 0) {
                    $("#sansEntree").html('<a style="color: whitesmoke " name="entree" href=" {{ path('entree.add',{entree: 1}) }}" ">ajouter entree</a>');
                } else {
                    $("#sansEntree").empty();
                }
            }
        });
    });

    //AutoComplete Fromage
    var tabFromage = [];
    $(document).ready(function(){

        /* Appelle le php qui contient le tableau php encodée en json */

        $.getJSON('{{ path('fromage.autoComplete') }}', function(data) {
            /* [XMLmind] contiendra le tableau php en tant qu’objet javascript */

            $.each(data, function(key, val) {

                tabFromage[key] = val;
                console.log(tabFromage[key])

            });

        });
        $( "#fromage" ).autocomplete({
            source: tabFromage,
            response: function(event, ui) {
                if (ui.content.length === 0) {
                    $("#sansFromage").html('<a style="color: whitesmoke " name="fromage" href=" {{ path('fromage.add',{fromage: 1}) }}" ">ajouter fromage</a>');
                } else {
                    $("#sansFromage").empty();
                }
            }
        });
    });

    //AutoComplete Dessert
    var tabDessert = [];
    $(document).ready(function(){

        /* Appelle le php qui contient le tableau php encodée en json */

        $.getJSON('{{ path('dessert.autoComplete') }}', function(data) {
            /* [XMLmind] contiendra le tableau php en tant qu’objet javascript */

            $.each(data, function(key, val) {

                tabDessert[key] = val;
                console.log(tabDessert[key])

            });

        });
        $( "#dessert" ).autocomplete({
            source: tabDessert,
            response: function(event, ui) {
                if (ui.content.length === 0) {
                    $("#sansDessert").html('<a style="color: whitesmoke " name="dessert" href=" {{ path('dessert.addDessert',{dessert: 1}) }}" ">ajouter dessert</a>');
                } else {
                    $("#sansDessert").empty();
                }
            }
        });
    });

    //AutoComplete Boisson
    var tabBoisson = [];
    $(document).ready(function(){

        /* Appelle le php qui contient le tableau php encodée en json */

        $.getJSON('{{ path('boisson.autoComplete') }}', function(data) {
            /* [XMLmind] contiendra le tableau php en tant qu’objet javascript */

            $.each(data, function(key, val) {

                tabBoisson[key] = val;
                console.log(tabBoisson[key])

            });

        });
        $( "#boisson" ).autocomplete({
            source: tabBoisson,
            response: function(event, ui) {
                if (ui.content.length === 0) {
                    $("#sansBoisson").html('<a style="color: whitesmoke " name="boisson" href=" {{ path('boisson.add',{boisson: 1}) }}" ">ajouter boisson</a>');
                } else {
                    $("#sansBoisson").empty();
                }
            }
        });
    });

    //AutoComplete Supplement
    var tabSupplement = [];
    $(document).ready(function(){

        /* Appelle le php qui contient le tableau php encodée en json */

        $.getJSON('{{ path('supplement.autoComplete') }}', function(data) {
            /* [XMLmind] contiendra le tableau php en tant qu’objet javascript */

            $.each(data, function(key, val) {

                tabSupplement[key] = val;
                console.log(tabSupplement[key])

            });

        });
        $( "#supplement" ).autocomplete({
            source: tabSupplement,
            response: function(event, ui) {
                if (ui.content.length === 0) {
                    $("#sansSupplement").html('<a style="color: whitesmoke " name="supplement" href=" {{ path('supplement.add',{supplement: 1}) }}" ">ajouter supplement</a>');
                } else {
                    $("#sansSupplement").empty();
                }
            }
        });
    });
</script>
