{% extends "v_layout.html.twig" %}
{% block contenu %}
    <div class ="grid">
        <div class="grid-noGutter" data-push-left="off-4">
            <div class="col-4">
                <form method="post" action="{{ path('user.signup') }}" >
                    <div class="login-block"  >
                        <h1>Inscription</h1>
                        <label>Username/Login :
                            <input class="inputLoginBlock" name="username"  type="text"  size="18"  value="{{donnees.username|default('')}}" />
                            {% if erreurs.username is defined %}
                                <small class="error">{{erreurs.username}}</small>
                            {% endif %}
                        </label>
                        <label>Mot de passe :
                            <input class="inputLoginBlock" name="motdepasse"  type="password"  size="18" value="" />
                            {% if erreurs.motdepasse is defined %}
                                <small class="error">{{erreurs.motdepasse}}</small>
                            {% endif %}
                        </label>
                        <label>Vérifier votre mot de passe :
                            <input class="inputLoginBlock" name="verificationmotdepasse"  type="password"  size="18" value="" />
                            {% if erreurs.verificationmotdepasse is defined %}
                                <small class="error">{{erreurs.verificationmotdepasse}}</small>
                            {% endif %}
                        </label>
                        <label>Mail :
                            <input class="inputLoginBlock" name="email"  type="text"  size="18" 	value="{{donnees.email|default('')}}"/>
                            {% if erreurs.email is defined %}
                                <small class="error">{{erreurs.email}}</small>
                            {% endif %}
                        </label>

                        <img src="{{ image }}" name="image" value="" /><br>

                        <label>Saisir captcha :
                            <input class="inputLoginBlock" type="text" name="maPhrase" >
                            {% if erreurs.phrase is defined %}
                                <small class="error">{{erreurs.phrase}}</small>
                            {% endif %}
                        </label>
                        <input class = "boutonPerso button" type="submit" name="ajouterClient" value="S'INSCRIRE" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}