{% extends "v_layout.html.twig" %}
{% block contenu %}
    <div class="grid-y" style="height: 30px;">
    </div>
    <form method="post" action="{{ path('user.signup') }}" >
        <div class=" grid-y" style="height: 500px; " >
            <div class="cell small-6 medium-4 large-10">
                <div class="grid-x" >
                    <div class="small-6 large-offset-3 cell" >
                        <div class="card" style ="color:whitesmoke; padding: 20px; border-radius: 50px; ">
                            <fieldset>
                                <legend style =" color:whitesmoke; text-decoration: underline">Inscription:</legend>
                                <label style =" color:whitesmoke;">Username/Login :
                                    <input name="username"  type="text"  size="18" style="border-radius: 50px" value="{{donnees.username|default('')}}" />
                                    {% if erreurs.username is defined %}
                                        <small class="error">{{erreurs.username}}</small>
                                    {% endif %}
                                </label>
                                <label style =" color:whitesmoke;">Mot de passe :
                                    <input name="motdepasse"  type="password" style="border-radius: 50px" size="18" value="" />
                                    {% if erreurs.motdepasse is defined %}
                                        <small class="error">{{erreurs.motdepasse}}</small>
                                    {% endif %}
                                </label>
                                <label style =" color:whitesmoke;">Vérifier votre mot de passe :
                                    <input name="verificationmotdepasse" style="border-radius: 50px" type="password"  size="18" value="" />
                                    {% if erreurs.verificationmotdepasse is defined %}
                                        <small class="error">{{erreurs.verificationmotdepasse}}</small>
                                    {% endif %}
                                </label>
                                <label style =" color:whitesmoke;">Mail :
                                    <input name="email"  type="text"  size="18" style="border-radius: 50px"	value="{{donnees.email|default('')}}"/>
                                    {% if erreurs.email is defined %}
                                        <small class="error">{{erreurs.email}}</small>
                                    {% endif %}
                                </label>

                                <img src="{{ image }}" name="image" value="" /><br>

                                <label style =" color:whitesmoke;">Saisir captcha :
                                    <input type="text" name="maPhrase" style="border-radius: 50px">
                                    {% if erreurs.phrase is defined %}
                                        <small class="error">{{erreurs.phrase}}</small>
                                    {% endif %}
                                </label>
                                <input class = "boutonPerso button" type="submit" name="ajouterClient" value="S'INSCRIRE" />
                            </fieldset>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}