<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>exemple MVC php</title>
    <link rel="stylesheet" href="{{ asset("assets/css/foundation.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset("assets/css/style.css") }}">
    <script src="{{ asset("assets/js/vendor/modernizr.js") }}"></script>
</head>
<body>
<div class="small-2">

</div>
{% include "v_menu.html.twig" %}
<div class="contenuPrincipal">
{% block contenu %}

{% endblock %}
</div>
<script src="{{ asset("assets/js/vendor/jquery.js") }}"></script>
<script src="{{ asset("assets/js/foundation.min.js") }}"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>