<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>exemple MVC php</title>
    <link rel="stylesheet" href="{{ asset("assets/css/foundation.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset("assets/css/style.css") }}">
    <link rel="stylesheet" href="{{asset("assets/css/jquery-ui.css")}}">
    <script src="{{ asset("assets/js/vendor/modernizr.js") }}"></script>
    <script type='text/javascript' src='{{asset("assets/js/jquery.min.js")}}'></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>
<div class="small-2">
</div>


{% include "v_menu.html.twig" %}
<div class="contenuPrincipal">
{% block contenu %}
{% endblock %}
</div>
<script src="{{ asset("assets/js/vendor/jquery.js") }}"></script>
<script src="{{ asset("assets/js/foundation.min.js") }}"></script>
<script src="{{ asset("assets/js/jquery-ui.min.js") }}"></script>



<script>
    $(document).foundation();
    $( function() {
        $( "#accordion" ).accordion({ active: false, collapsible: true });
    } );

    $(function() {
        $( "#datepicker1" ).datepicker({ dateFormat: 'dd-mm-yy'});
    });
</script>
</body>
</html>