
<div class="top-bar degrade" >
  <div class="top-bar-left" style="background: transparent;" >
    <ul class="dropdown menu" data-dropdown-menu style="background: transparent;">
      <li > <a href="{{ path('index.index') }}" class = "aMenu">Accueil</a></li>
        {% if app.session.get('roles') is defined and app.session.get('roles') == 'ROLE_ADMIN' %}
      <li>
          <li   ><a href="{{ path('menu.show') }}" class = "aMenu" >Gestion des menus</a></li>
      </li>
        <a href="{{ path('composant.show') }}" class = "aMenu">Gestion des mets</a>
            <li>
                <a href="{{path('reservation.gestion') }}" class = "aMenu">Gestion des reservations</a>
            </li>
        {% endif %}
        {% if app.session.get('roles') is defined and app.session.get('roles') == 'ROLE_CLIENT' %}
      <li >
        <a href="#" class = "aMenu">Menus</a>
        <ul class="menu vertical">
          <li class="degrade"><a href="{{ path('menu.show') }}" class = "aMenu">Afficher</a></li>
        </ul>
      </li>
        {% endif %}
    </ul>



  </div>
  <div class="top-bar-right" style="background: transparent;" >
    <ul  class="menu " style="background: transparent;">
        {% if   app.session.get('logged') is defined and  app.session.get('logged') == 1 %}
          <li class = "aMenu">Connecté en tant que : {{ app.session.get('username') }}</li>
          <li ><a  class = "aMenu"href="{{ path('user.logout')  }}">Se déconnecter</a></li>
        {% else %}
          <li><a class = "aMenu" href="{{ path('user.signup')  }}">S'inscrire</a></li>
          <li><a class = "aMenu" href="{{ path('user.login')  }}">Se connecter</a></li>
        {% endif %}
    </ul>
  </div>
</div>
