
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1> <a href="{{ path('index.index') }}">Accueil</a></h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#"><span>Menu</span></a>
    </li>
  </ul>
  <section class="top-bar-section">
  {% if app.session.get('roles') is defined and app.session.get('roles') == 'ROLE_ADMIN' %}
    <ul class="left">
      <li class="has-dropdown"><a href="#">menus</a>
        <ul class="dropdown" >
          <li><a href="{{ path('menu.show') }}" class="truc">afficher/editer/supprimer les menus</a></li>
        </ul>
      </li>
      <li class="has-dropdown"><a href="#">composant des menus</a>
        <ul class="dropdown">
          <li><a href="{{ path('composant.show') }}" class="truc">afficher/editer/supprimer les composants des menus</a></li>
        </ul>
      </li>
    </ul>
    {% endif %}
      {% if app.session.get('roles') is defined and app.session.get('roles') == 'ROLE_CLIENT' %}
        <ul class="left">
          <li class="has-dropdown"><a href="#">menus</a>
            <ul class="dropdown" >
              <li><a href="{{ path('menu.show') }}" class="truc">Afficher</a></li>
            </ul>
          </li>
        </ul>
      {% endif %}
    <ul class="right">
        {% if   app.session.get('logged') is defined and  app.session.get('logged') == 1 %}
          <li class="name" style="color: #d58512">Connecté en tant que : {{ app.session.get('username') }}</li>
          <li><a href="{{ path('user.logout')  }}">Se déconnecter</a></li>
        {% else %}
          <li><a href="{{ path('user.login')  }}">Se connecter</a></li>
        {% endif %}
    </ul>
  </section>
</nav>
