{% extends "v_layout.html.twig" %}
{% block contenu %}
    <div class ="grid">
        <div class="grid-noGutter" data-push-left="off-2">
            <div class="col-4">
                <form method="post" action="{{ path("aperitif.validFormEditAperitif") }} ">
                        <div class="login-block">
                            <h1>Modification de l'aperitif: {{ donnees.libelle_aperitif }}</h1>
                            <input  type="hidden" name="_method" id="_method" value="put"/>
                            <input  type="hidden" name="id_aperitif" value="{{ donnees.id_aperitif }}"/>
                            <label >Nom du dessert</label>
                                <input  class="inputLoginBlock" name="libelle_aperitif"  type="text"  size="18" value="{{ donnees.libelle_aperitif | default('') }}"/>
                                {% if erreurs.libelle_aperitif is defined %}
                                    <small class="error">{{erreurs.libelle_aperitif}}</small>
                                {% endif %}

                            <input  type="submit" class = "button" name="modifierAperitif" value="Modifier" >
                        </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}