{% extends "v_layout.html.twig" %}
{% block contenu %}
    <div class ="grid">
        <div class="grid-noGutter" data-push-left="off-2">
            <div class="col-4">
                <form method="post" action="{{ path("entree.validFormEditEntree") }} ">
                    <div class="login-block">
                        <h1> Modification du entree: {{ donnees.libelle_entree }}</h1>
                        <input  type="hidden" name="_method" id="_method" value="put"/>
                        <input  type="hidden" name="id_entree" value="{{ donnees.id_entree }}"/>
                        <label>Nom du entree </label>
                        <input class="inputLoginBlock" name="libelle_entree"  type="text"  size="18" value="{{ donnees.libelle_entree | default('') }}"/>
                        {% if erreurs.libelle_entree is defined %}
                            <small class="error">{{erreurs.libelle_entree}}</small>
                        {% endif %}
                        <input type="submit" class = "button" name="modifierEntree" value="modifier" >
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}