{% extends "v_layout.html.twig" %}
{% block contenu %}
    <form method="post" action="{{ path("typePlat.validFormEditTypePlat") }} ">
        <div class="row">
            <fieldset>
                <legend>Modifier un plats (twig)</legend>
                <input type="hidden" name="_method" id="_method" value="put"/>
                <input name="id"  type="hidden" value="{{donnees.idTypePlat}}" />
                <label>Libelle :
                    <input name="libelle"  type="text"  size="18" value="{{donnees.libelle}}" />
                    {% if erreurs.libelle is defined %}
                        <small class="error">{{erreurs.libelle}}</small>
                    {% endif %}
                </label>
                <input type="hidden"   name="_csrf_token"   value="{{ csrf_token('token_edit_type') }}">
                <input type="submit" name="updatePlat" value="modifier" />
            </fieldset>
        </div>
    </form>
{% endblock %}